
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='with=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
		title #{env.APP_NAME}
		link(rel='stylesheet', href=env.SCSS_DIST_PATH)
		//- link(rel='icon' type='image/ico' href=`${env.PUBLIC_PATH}favicon.ico` size='256')
		//- link(rel='preconnect' href='https://fonts.googleapis.com')
		//- link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		//- link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&display=swap')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css')
		block extraHead
	body(class=bodyClass)
		block body

		//- Bootstrap JS
		script(
			src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js'
			integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2'
			crossorigin='anonymous'
		)
		script(src=env.FRONTEND_JS_DIST_PATH)